.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.9); 
}
.google{
    color: white;
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    margin-right: 5px;
}
.twitter{
    color: white;
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    margin-right: 5px;
}
.instagram{
    color: white;
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    margin-right: 5px;
}
.youtube{
    color: white;
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    margin-right: 5px;
}
.contact-us{
    font-family: 'Roboto';
    color: white;
    font-size: 12px;
}